.base-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    display: flex;
    width: 100%;
}
.base-container > .content {
    display: contents;
    flex-direction: column;
}

span.logon {
    margin: 15px 25px 25px 20px;
    font-weight: bold;
    font-size: 1.8em;
}

div.form {
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    display: flex;
}
.form-group {
    margin-bottom: 10px;
}

a.forgot {
    margin: 35px 25px 50px 20px;
    color: #123952;
}
.forgot > span {
    font-weight: bold;
    font-size: 1.1em;
}

a.account {
    color: #F25D27;
}
.account > span {
    font-weight: bold;
    font-size: 1.1em;
}
a:link {
    text-decoration: none;
}

.send-button > button {
    height: 3.3em;
    display: flex;
    width: 100%;
}

.logo {
    width: 75%;
}